/* css复位 */
body,div,p,th,td,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote, img{ margin:0 0 0 0px; 
padding:0; }	
h1,h2,h3,h4,h5,h6,em { font-weight:100; font-style:normal; font-size:12px; }
body{
background:#EEEDF3}	
table { border-collapse:collapse;　border-spacing:0;
    margin-bottom: 0px;
}
ol,ul { list-style:none; }	
img   { border:0; }
a:link, a:active, a:visited { color:#369; text-decoration:none; }
a:hover { color:#369; text-decoration:underline; }
body { font-family:Tahoma, Verdana, Arial, sans-serif; font-size:12px; color:#000; }
body { margin: 3px; }

/*表单元素*/
input.button { height: 24px; background:#fff url(../image/btn-bg.gif) repeat-x; border:1px solid #72a1bd; color:#333; padding:0 6px; line-height:22px; }
s:submit.button { height: 24px; background:#fff url(../image/btn-bg.gif) repeat-x; border:1px solid #72a1bd; color:#333; padding:0 6px; line-height:22px; }
textarea,
input.text { border:1px solid #72a1bd; height:19px; }

/*查询工具条*/
.SearchBar           {  height:28px; padding-top:3px; }
.SearchBar span      { margin-left:5px; }
.ListTitle           { background:#353c44;  height:24px; color:#e1e2e3; margin:3px 0; padding-top:3px; padding-left:5px; }
.ListTitle a         { color:#e1e2e3; margin-right:8px; }
.ListTitle div span  { margin-right:8px; }
.ListTitle div img   { margin-right:3px; }

/*列表*/
.table           { width:100%; border:1px solid #a8c7ce; border-collapse:collapse; color:#344b50; line-height:20px; background:#fff;  }
.table td        { background:#fff; border:1px solid #a8c7ce; text-align:center; word-wrap:break-word; word-break:break-all; font-size:12px; white-space:nowrap; }						
.table tr.odd td    { background:#d3eaef; }
.table thead th  { background:#d3eaef; border:1px solid #a8c7ce; text-align:center; font-weight:800; }
.TableFoot          { padding:3px; color:#344b50; }

/*表单标题*/
h2                    { background-image: url(/webcmp/images/5.png); padding:3px 0px 5px 0px; width:600p;margin:3px auto 3px auto; x; }
h2 img,
h2 span               { padding-left:5px; }
h1                    { padding:3px 0px 3px 0px; width:600p;margin:3px auto 3px auto; x; }
h1 span               { padding-left:5px; }


/*表单*/
.form td         { text-align:left;  padding:2px 8px; border:0px; }
.form td.column1 { text-align:right; vertical-align:top; }

/*fieldset*/
.fieldset { border:0px solid #a8c7ce; padding:5px; margin:3px; }
.fieldset legend { font-weight:800; margin-left:8px; }

/*分页*/
.pagination a       { border:1px solid #72a1bd; padding:2px 8px 0px 8px; color:#369; margin-right:5px; background:#fff url(../images/btn-bg.gif) repeat-x; }
.pagination a:hover { background:#fff; text-decoration:none; }

/*jscharts*/
.divdesc    { float: left; height:150px; background-image: url(../images/detail_middle.gif); width: 50%; min-width: 50%; border: 0px;  alpha:50%;}
.detaildesc { margin: 5px; 	color: #344b50;	font-size: 12px; }
.divgraph   { background-image: url(../images/detail_middle.gif); float:left; height:150px; width: 50%;  min-width: 50%; }
.divtitle   { background-image: url(../images/detail_middle.gif); float:left; height:150px; width: 50%;  min-width: 50%; }

/*标签*/
.tabs ul li           { float:left; width:155px; height:30px; line-height:30px; display:block; text-align:center; background:url(../images/fenlan2.gif) no-repeat; }
.tabs ul li#selected  { background:#ffffff url(../images/fenlan1.gif) no-repeat; }

.clear { clear:both; }