/* css复位 */
body,div,p,th,td,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote, img{ margin:0 0 0 0px; 
padding:0; }	
h1,h2,h3,h4,h5,h6,em { font-weight:100; font-style:normal; font-size:12px; }
body{
background:#EEEDF3}	
table { border-collapse:collapse;　border-spacing:0;
    margin-bottom: 0px;
}
ol,ul { list-style:none; }	
img   { border:0; }
a:link, a:active, a:visited { color:#369; text-decoration:none; }
a:hover { color:#369; text-decoration:underline; }
body { font-family:Tahoma, Verdana, Arial, sans-serif; font-size:12px; color:#000; }
body { margin: 3px; }

/*表单元素*/
input.button { height: 24px; background:#fff url(../image/btn-bg.gif) repeat-x; border:1px solid #72a1bd; color:#333; padding:0 6px; line-height:22px; }
s:submit.button { height: 24px; background:#fff url(../image/btn-bg.gif) repeat-x; border:1px solid #72a1bd; color:#333; padding:0 6px; line-height:22px; }
textarea,
input.text { border:1px solid #72a1bd; height:19px; }

/*列表*/
.table           { width:100%; border:1px solid #a8c7ce; border-collapse:collapse; color:#344b50; line-height:20px; background:#fff;  }
.table td        { background:#fff; border:1px solid #a8c7ce; text-align:center; word-wrap:break-word; word-break:break-all; font-size:12px; white-space:nowrap; }						
.table tr.odd td    { background:#d3eaef; }
.table thead th  { background:#d3eaef; border:1px solid #a8c7ce; text-align:center; font-weight:800; }
.TableFoot          { padding:3px; color:#344b50; }

/*表单标题*/
h2                    { background-image: url(/Plagiarism_Detection/image/5.png); padding:3px 0px 5px 0px; width:600p;margin:3px auto 3px auto; x; }
h2 img,
h2 span               { padding-left:5px; }
h1                    { padding:3px 0px 3px 0px; width:600p;margin:3px auto 3px auto; x; }
h1 span               { padding-left:5px; }


/*表单*/
.form td         { text-align:left;  padding:2px 8px; border:0px; }
.form td.column1 { text-align:right; vertical-align:top; }

/*fieldset*/
.fieldset { border:0px solid #a8c7ce; padding:5px; margin:3px; }
.fieldset legend { font-weight:800; margin-left:8px; }

.clear { clear:both; }